h1{
    text-transform: uppercase;
}
h2{
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: Gotham Pro Bold;
}
.section_block-11 h2, .section_block-8 h2{
    color: #ffffff;
}
.section_block-1 h1{
    display: inline;
    text-transform: uppercase;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu .logo-2{
    height: 100%;
    width: auto;
    margin-left: 8px;
    margin-right: 15px;
}
.menu__items-wrap{
    flex-grow: 1;
}
.menu .menu__items{
    display: flex;
    justify-content: space-around;
}
.menu #plus{
    margin-left: 8px;
}
.section__wrapper_video .section__body{
   text-align: center;
}
.section__body .block-video{
    display: inline-block;
    width: 47%;
    height: 350px;
    margin: 4px;

}
.section__body .block-video iframe{
    width: 100%;
    height: 100%;
}
.descrip-footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    left: 0;
    height: auto;
    font-size: 16px;
    font-weight: 100;
    font-family: serif;
    padding-bottom: 10px;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .section__body .block-video{
        height: 218px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .section__body .block-video {
        height: 155px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
